@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    /* background-image: url("./assets/background25.png"); */
    /* background-color:midnightblue; */
    /* background: #020024; 
    background: linear-gradient(
        90deg,
        rgb(48, 196, 232) 0%,
        rgb(46, 148, 231) 35%,
        rgba(0, 212, 255, 1) 100%
    ); 
    /* background: #000000;
    background: radial-gradient(
        circle,
        rgba(0, 0, 0, 1) 36%,
        rgba(135, 131, 131, 1) 100%
    ); */
    /* background-color: black; */
    /* background: linear-gradient(to right, #0f172a, #334155); */
    /* background: linear-gradient(to right, #1e40af, #312e81); */
    /* background: linear-gradient(
        90deg,
        rgb(48, 196, 232) 0%,
        rgb(46, 148, 231) 35%,
        rgba(0, 212, 255, 1) 100%
    ); 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

    /* From https://css.glass
    background: rgba(55, 78, 233, 0.66);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(55, 78, 233, 0.3); */

    /* background-image: repeating-linear-gradient(90deg, hsla(168,0%,63%,0.09) 0px, hsla(168,0%,63%,0.09) 1px,transparent 1px, transparent 96px),repeating-linear-gradient(0deg, hsla(168,0%,63%,0.09) 0px, hsla(0, 0%, 100%, 0.09) 1px,transparent 1px, transparent 96px),repeating-linear-gradient(0deg, hsla(168,0%,63%,0.09) 0px, hsla(168,0%,63%,0.09) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(90deg, hsla(168,0%,63%,0.09) 0px, hsla(168,0%,63%,0.09) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20)); */

    /* background-image: repeating-linear-gradient(0deg, hsla(208,43%,84%,0.09) 0px, hsla(208,43%,84%,0.09) 1px,transparent 1px, transparent 9px),repeating-linear-gradient(90deg, hsla(208,43%,84%,0.09) 0px, hsla(208,43%,84%,0.09) 1px,transparent 1px, transparent 9px),linear-gradient(90deg, hsl(203,93%,43%),hsl(203,93%,43%)); */

    /* background-image: repeating-linear-gradient(90deg, hsla(178,0%,66%,0.05) 0px, hsla(178,0%,66%,0.05) 1px,transparent 1px, transparent 104px),repeating-linear-gradient(0deg, hsla(178,0%,66%,0.05) 0px, hsla(178,0%,66%,0.05) 1px,transparent 1px, transparent 104px),repeating-linear-gradient(0deg, hsla(178,0%,66%,0.07) 0px, hsla(178,0%,66%,0.07) 1px,transparent 1px, transparent 26px),repeating-linear-gradient(90deg, hsla(178,0%,66%,0.07) 0px, hsla(178,0%,66%,0.07) 1px,transparent 1px, transparent 26px),linear-gradient(0deg, rgb(20,20,20),rgb(20,20,20)); */

    background-image: repeating-linear-gradient(90deg, hsla(78,0%,63%,0.05) 0px, hsla(78,0%,63%,0.05) 1px,transparent 1px, transparent 104px),repeating-linear-gradient(0deg, hsla(78,0%,63%,0.05) 0px, hsla(78,0%,63%,0.05) 1px,transparent 1px, transparent 104px),repeating-linear-gradient(0deg, hsla(78,0%,63%,0.08) 0px, hsla(78,0%,63%,0.08) 1px,transparent 1px, transparent 26px),repeating-linear-gradient(90deg, hsla(78,0%,63%,0.08) 0px, hsla(78,0%,63%,0.08) 1px,transparent 1px, transparent 26px),linear-gradient(45deg, rgb(255,255,255),rgb(255,255,255));

    /* background-image: repeating-linear-gradient(90deg, rgba(140,140,140, 0.1) 0px, rgba(140,140,140, 0.1) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, rgba(140,140,140, 0.1) 0px, rgba(140,140,140, 0.1) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, rgba(140,140,140, 0.1) 0px, rgba(140,140,140, 0.1) 1px,transparent 1px, transparent 20px),repeating-linear-gradient(90deg, rgba(140,140,140, 0.1) 0px, rgba(140,140,140, 0.1) 1px,transparent 1px, transparent 20px),linear-gradient(90deg, hsl(208,100%,22%),hsl(208,100%,22%)); */
    /* background-image: repeating-linear-gradient(0deg, hsla(23,0%,86%,0.45) 0px, hsla(23,0%,86%,0.45) 1px,transparent 1px, transparent 36px),repeating-linear-gradient(90deg, hsla(23,0%,86%,0.45) 0px, hsla(23,0%,86%,0.45) 1px,transparent 1px, transparent 36px),linear-gradient(90deg, hsl(334,2%,100%),hsl(334,2%,100%)); */

    background-image: repeating-linear-gradient(0deg, rgba(0,0,0, 0.08) 0px, rgba(0,0,0, 0.08) 1px,transparent 1px, transparent 16px),repeating-linear-gradient(90deg, rgba(0,0,0, 0.08) 0px, rgba(0,0,0, 0.08) 1px,transparent 1px, transparent 16px),linear-gradient(90deg, rgb(241,241,241),rgb(241,241,241));


    /* background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(90deg, rgb(195, 195, 195),rgb(228, 228, 228)); background-blend-mode:overlay,overlay,overlay,normal; */

}
