@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    /* background-image: url("./assets/background25.png"); */
    /* background-color:midnightblue; */
    background: #020024; 
    background: linear-gradient(
        90deg,
        rgb(48, 196, 232) 0%,
        rgb(46, 148, 231) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    /* background: #000000;
    background: radial-gradient(
        circle,
        rgba(0, 0, 0, 1) 36%,
        rgba(135, 131, 131, 1) 100%
    ); */
    /* background-color: black; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
