@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    /* background-image: url("./assets/background12.jpg"); */
    /* background-color:midnightblue; */
    background: #020024;
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
